<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<div th:insert="/common/common_css :: privilege"></div>


<script type="text/javascript" th:inline="javascript">
function resetSearch(){
	$("input[id='questionName']").val("");
}

function openBatchDeletePage(){
	deleteData('/api/v1/question/batchDeletePage?deleteUrl=/api/v1/question/batchDelete');
}
</script>



	</head>
	<body>
<div th:insert="/common/common_index :: index_head"></div>
<div th:include="/common/onload_list_js :: loadJS"></div>

<form id="callForm" name="callForm" th:action="@{/api/v1/question/query}" th:method="get">

	<input style="display:none" name="deleteIds" id="deleteIds" value="">

<div id="main">
		<div class="box">
			<div class="title">	
				    	<h2>当前位置：<a th:href="${session.homeUrl}">首页</a> > <a>系统管理 </a>  > <a class="active">题目录入</a></h2>				
			</div>
						<table width="100%" cellpadding="0" cellspacing="0" class="text-table mt10">
				            <tr>
					            <th width="8%">题目关键字：</th>
					            <td width="15%"><input type="text"  id="questionName"  name="QUESTION_NAME" th:value="${formMap['QUESTION_NAME']}"></td>
					            <td>
					         		<select name ="SORT_ID">
					         			<option value="">选择分类</option>
					              		<option th:each="sort : ${questionSort}" th:value="${sort.id}" th:text="${sort.name}">
					            	</select>
					            </td>
					           <td width="38%">
						           <a th:onclick="'javascript:callFormSubmit()'">搜索</a>&nbsp;&nbsp;
						           <a th:onclick="'javascript:resetSearch()'">重置</a>
					           </td>
					           <td width="28%"></td>					           
				            </tr>
			            </table>
		</div>
		
	
<div class="box">	            
			<div class="title">	
				    	<h2> <a class="active">题目列表</a></h2>	
				    	<div class="operation">
				    		<a class="parentadd"  onclick="openCommonLayer('新增记录','800px','250px','/api/v1/question/insertpage?type=1')"><img th:src="@{/images/icon-add.png}" />单字练习</a>
				    		<a class="parentadd"  onclick="openCommonLayer('新增记录','800px','250px','/api/v1/question/insertpage?type=2')"><img th:src="@{/images/icon-add.png}" />词语练习</a>
				    		<a class="parentadd"  onclick="openCommonLayer('新增记录','800px','250px','/api/v1/question/insertpage?type=3')"><img th:src="@{/images/icon-add.png}" />短文练习</a>	
				    	    <a class="parentIframe" onclick="openBatchDeletePage()"><img th:src="@{/images/icon-del.png}" />删除</a>
				    	</div>
				    		
			</div>	            
			<div class="auto">
					<table width="100%" cellpadding="0" cellspacing="0" class="user-list mt10">
			       			<tr>
				       			<th width="30">
									<input type="checkbox" class="check-all" id="mainCheckbox" name="mainCheckbox"
														onClick="selectedAllCheckbox()" />
								</th>
	       						<th>题目名称</th>
								<th>题目类型</th>
								<th>创建时间</th>
								<th>操作</th>
			       			</tr>
			       			<tr th:each="question : ${resultList}">
								<td align="center">
									<input type="checkbox" id="checkboxId"  th:name="check"  th:value="${question['id']}" />
								</td>
								<td th:text="${question['name']}"></td>
								<td th:if="${question['sortId'] == '1'}">单字练习</td>
								<td th:if="${question['sortId'] == '2'}">词语练习</td>
								<td th:if="${question['sortId'] == '3'}">短文练习</td>
								
								<td th:text="${question['formatDate']}"></td>
								
								<td align="center">
								<a href="#" class="c-green parentedit" th:onclick="'javascript:openLargeEditLayer(\'/api/v1/question/updatepage?ID='+${question['id']}+'\')'">编辑</a>
								<a href="#" class="color-red parentIframe" th:onclick="'javascript:openDeleteLayer(\'/api/v1/question/deletepage?deleteUrl=/api/v1/question/delete&deleteId='+${question['id']}+'\')'">删除</a> 
								</td>
							</tr>
			       		
			       		</table>
				</div>
	
	    	<div th:include="/common/page_control"></div>
	    
</div>
</div>
		
		<script type="text/javascript">
			function openLargeEditLayer(url){
				openCommonLayer('编辑记录','400px','250px',url);
			}
		</script>
	</form>
	<div th:insert="/common/common_index :: index_foot"></div>
	</body>
</html>

