<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link th:href="@{/css/common.css}" rel="stylesheet" />
<link th:href="@{/css/syle.css}" rel="stylesheet" />
<link th:href="@{~/js/layer/skin/layer.css}" rel="stylesheet"/>

<!--[if lt IE 9]>
				<script src="https://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
			<![endif]-->

</head>
<body id="bg-white">
	<form id="callForm" name="callForm" action="" th:method="post">

		<input style="display:none" type="text" name="ID" th:value="${resultMap['ID']}" />

		<div class="p10">
			<table width="100%" cellpadding="0" cellspacing="0" class="tc-edit">
				<tr>
					<th><span>*</span>工具名称：</th>
					<td><input type="text" id="NAME" name="NAME" th:value="${resultMap['NAME']}" class="input1" /></td>
					<th><span>*</span>工具类别：</th>
					<td>
					<!-- 
					<input type="text" id="CATEGORIA" name="CATEGORIA" th:value="${resultMap['CATEGORIA']}"  class="input1" />
					 -->
					<select name="CATEGORIA">
							<option value="html" th:selected="${resultMap['CATEGORIA']=='html'}">html</option>
							<option value="java" th:selected="${resultMap['CATEGORIA']=='java'}">java</option>
							<option value="other" th:selected="${resultMap['CATEGORIA']=='other'}">other</option>
					</select>
					</td>
				</tr>
				<tr>
					<th><span>*</span>工具分类：</th>
					<td><input type="text" id="CLASSIFY" name="CLASSIFY" th:value="${resultMap['CLASSIFY']}"  class="input1" /></td>
					<th>svn地址：</th>
					<td><input type="text" id="SVN_ADDRESS" name="SVN_ADDRESS" th:value="${resultMap['SVN_ADDRESS']}"  class="input1" /></td>
				</tr>
			</table>
		</div>
		
		<div class="tc-tip" id="tipsId" style="display:none"><img th:src="@{/images/icon-tip.png}"/>您还有必填项未填。</div>
		<div class="tc-bottom">
			<a onclick="submitUpdate()"
				id="submitBtn">确定</a> <a
				th:onclick="'javascript:closeCurrentLayer()'">取消</a>

		</div>
	</form>

	<div th:include="/common/onload_layer_js :: loadJS"></div>
</body>
</html>
<script type="text/javascript">
	function submitUpdate(){
		if($("input[id='NAME']").val()==""||$("input[id='CATEGORIA']").val()==""
			||$("input[id='CLASSIFY']").val()==""){
			$("#tipsId").css("display","block");
			return;
		}
		jqueryAjaxSubmit('/api/v1/iplatformtools/update');
	}
</script>
