<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<div th:insert="/common/common_css :: privilege"></div>


<script type="text/javascript" th:inline="javascript">
function ajaxIsUse(id){
	 $.ajax({
	  	  type: "POST",
		  url: "/privilege/role/setIsUse?id="+id,
		  cache: false,
		  async:false,
		  contentType : "application/x-www-form-urlencoded; charset=utf-8",
		  success: function(html){
		   	if(html == 'success'){
		   		callFormSubmit();
		   	}
		  },
		  error:function(html){
		  },
		  complete:function(){
		  }
	 }); 
}

function resetSearch(){
	$("input[id='roleName']").val("");
}

function openBatchDeletePage(){
	deleteData('/privilege/role/batchDeletePage?deleteUrl=/privilege/role/batchDelete');
}
</script>



	</head>
	<body>
<div th:insert="/common/common_index :: index_head"></div>
<div th:include="/common/onload_list_js :: loadJS"></div>

<form id="callForm" name="callForm" th:action="@{/privilege/role/query}" th:method="post">

	<input style="display:none" name="deleteIds" id="deleteIds" value="">

		<div id="main">
		<div class="box">
			<div class="title">	
				    	<h2>当前位置：<a th:href="${session.homeUrl}">首页</a> > <a>系统管理 </a>  > <a class="active">角色管理</a></h2>				
			</div>
						<table width="100%" cellpadding="0" cellspacing="0" class="text-table mt10">
				            <tr>
					            <th width="8%">角色名称：</th>
					            <td width="15%"><input type="text"  id="roleName"  name="ROLE_NAME" th:value="${formMap['ROLE_NAME']}"></td>					
					           <td width="38%">
						           <a th:onclick="'javascript:callFormSubmit()'">搜索</a>&nbsp;&nbsp;
						           <a th:onclick="'javascript:resetSearch()'">重置</a>
					           </td>
					           <td width="28%"></td>					           
				            </tr>
				           
			            </table>
		</div>
		
	
			<div class="box">	            
			<div class="title">	
				    	<h2> <a class="active">角色列表</a></h2>	
				    	<div class="operation">
				    		<a class="parentadd"  onclick="openCommonLayer('新增记录','400px','250px','/privilege/role/insertpage')"><img th:src="@{/images/icon-add.png}" />新增</a>	
				    	    <a class="parentIframe" onclick="openBatchDeletePage()"><img th:src="@{/images/icon-del.png}" />删除</a>
				    	</div>
				    		
			</div>	            
	<div class="auto">
			<table width="100%" cellpadding="0" cellspacing="0" class="user-list mt10">
	       			<tr>
			       			<th width="30">
								<input type="checkbox" class="check-all" id="mainCheckbox" name="mainCheckbox"
													onClick="selectedAllCheckbox()" />
							</th>
       						<th>角色名称</th>
							<th>角色描述</th>
						<!-- 		<th>角色公司</th> -->
							<th>角色编码</th>
							<th>操作</th>
	       			</tr>
	       			<tr th:each="role : ${resultList}">
						<td align="center">
							<input type="checkbox" id="checkboxId"  th:name="check"  th:value="${role['id']}" />
						</td>
						<td th:text="${role['name']}"></td>
						<!-- <td th:text="${priRoleBean['orgName']}"></td> -->
						<td th:text="${role['description']}"></td>
						<!--
						<td>
							<span th:text="${role['status']== 'Y'}? '禁用':'可用'"></span>
							<a href="#" th:class="${role['status']== 'Y'}? 'color-red':'c-blue'" th:onclick="'javascript:ajaxIsUse(\''+${role['id']}+'\')'" th:text="${role['status'] == 'Y'}? '[ 可用 ]':'[ 禁用 ]'"></a>
						</td>
						-->
						<td th:text="${role['code']}"></td>
						<td align="center">
						<a href="#" class="c-blue parentyh" th:onclick="'javascript:openSelectTargetLayer(\'/privilege/role/gotoSelectTargetPage?ROLE_ID='+${role['id']}+'\')'" >绑定指标</a>
						<a href="#" class="c-blue parentyh" th:onclick="'javascript:openSelectManagerLayer(\'/privilege/role/gotoSelectManagerPage?ROLE_ID='+${role['id']}+'\')'" >绑定用户</a>
						<a href="#" class="c-purple parentmenu" th:onclick="'javascript:openSelectMenuLayer(\'/privilege/role/gotoSelectMenuPage?ROLE_ID='+${role['id']}+'\')'" >分配菜单</a>
						<a href="#" class="c-green parentedit" th:onclick="'javascript:openLargeEditLayer(\'/privilege/role/updatepage?ROLE_ID='+${role['id']}+'\')'">编辑</a> 
						<a href="#" class="color-red parentIframe" th:onclick="'javascript:openDeleteLayer(\'/privilege/role/deletepage?deleteUrl=/privilege/role/delete&deleteId='+${role['id']}+'\')'">删除</a> 
						</td>
					</tr>
	       		
	       		</table>
		</div>
	
	    	<div th:include="/common/page_control"></div>
	    
			</div>
		</div>
		
		<script type="text/javascript">
			function openLargeEditLayer(url){
				openCommonLayer('编辑记录','400px','250px',url);
			}
			
			function openSelectMenuLayer(url){
				openCommonLayer('角色菜单','850px','480px',url+"&"+Math.random());
			}
			
			function openSelectManagerLayer(url){
				openCommonLayer('绑定用户','900px','500px',url+"&"+Math.random());
			}
			
			function openSelectTargetLayer(url){
				openCommonLayer('绑定指标','850px','500px',url+"&"+Math.random());
			}
		</script>
	</form>
	<div th:insert="/common/common_index :: index_foot"></div>
	</body>
</html>

