<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<div th:insert="/common/common_css :: privilege"></div>


<script type="text/javascript" th:inline="javascript">
function resetSearch(){
	$("input[id='question']").val("");
	$("input[id='sim']").val("");
	$("input[id='top']").val("");
}


</script>



	</head>
	<body>
<div th:insert="common/common_index :: index_head"></div>
<div th:include="common/onload_list_js :: loadJS"></div>

<form id="callForm" name="callForm" th:action="@{/api/v1/intelligent/queryQuestion}" th:method="get">

<div id="main">
		<div class="box">
			<div class="title">	
				    	<h2>当前位置：<a th:href="${session.homeUrl}">首页</a> > <a>系统管理 </a>  > <a class="active">问题匹配</a></h2>				
			</div>
						<table width="100%" cellpadding="0" cellspacing="0" class="text-table mt10">
				            <tr>
					            <th width="8%">问题：</th>
					            <td width="15%"><input type="text"  id="question"  name="question" th:value="${formMap['question']}"></td>
					            <th width="8%">阈值：</th>
					            <td width="15%"><input type="text"  id="sim"  name="sim" th:value="${formMap['sim']}"></td>
					            <th width="8%">个数：</th>
					            <td width="15%"><input type="text"  id="top"  name="top" th:value="${formMap['top']}"></td>
					           <td width="38%">
						           <a th:onclick="'javascript:callFormSubmit()'">搜索</a>&nbsp;&nbsp;
						           <a th:onclick="'javascript:resetSearch()'">重置</a>
					           </td>
					           <td width="28%"></td>					           
				            </tr>
			            </table>
		</div>
		
	
<div class="box">	            
			<div class="title">	
				    	<h2> <a class="active">问题列表</a></h2>	
				    	<div class="operation">
				    	</div>
				    		
			</div>	            
			<div class="auto">
					<table width="100%" cellpadding="0" cellspacing="0" class="user-list mt10">
			       			<tr>
	       						<th>问题名称</th>
								<th>相似度</th>
			       			</tr>
			       			<tr th:each="question : ${resultList}">
								<td th:text="${question.question}"></td>
								<td th:text="${question.similarity}"></td>
							</tr>
			       		
			       		</table>
				</div>
	
	    	<div th:include="common/page_control"></div>
</div>
</div>
		<script type="text/javascript">
			function openLargeEditLayer(url){
				openCommonLayer('编辑记录','500px','250px',url);
			}
			function questionInfo(questionId ,sortId){
				document.getElementById('callForm').action = contextPath + 'info?questionId='+questionId+"&sortId="+sortId;
				document.getElementById('callForm').method = 'post';
				document.getElementById('callForm').submit();
			}
		</script>
	</form>
	<div th:insert="common/common_index :: index_foot"></div>
	</body>
</html>

