<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<div th:insert="/common/common_css :: privilege"></div>
<script type="text/javascript" th:inline="javascript">
function initTable(){
	var table = $("#examTable");
	var details = [[${question.details}]];
	var htmlInner = "";
	var trHtml = "";
	$.each(details,function(i,item){
		if((i % 5) == 0){
			trHtml = "<tr>"
		}
		var tdHtml = "<td onclick='player("+ i +");'><ruby>" + item.chinese + "<rt>" + item.pinyin + "</rt></ruby></td>";
		<!--tdHtml = tdHtml + "<td> <audio id='voice"+ i +"' src='"+ item.path +"' ></audio></td> ";-->
		tdHtml = tdHtml + "<td> <audio id='voice"+ i +"'><source src='"+ item.path +"' type='audio/mpeg'></audio></td> ";
		trHtml = trHtml + tdHtml;
		if((i % 5) == 4){
			htmlInner = htmlInner + trHtml + "</tr>";
		}
	});
	$("#examTable").html(htmlInner);
}

function player(id){
	var voice = document.getElementById('voice'+ id);
	if (voice.paused) { //判断音乐是否在播放中，暂停状态
       voice.play(); //音乐播放
                 
    } else { //播放状态
        voice.pause(); //音乐停止
    }
}

</script>
</head>
<body onload="initTable()">
<div th:insert="/common/common_index :: index_head"></div>
<div th:include="/common/onload_list_js :: loadJS"></div>

<div id="main">
<div class="box">
	<div class="title">	
		<h2>当前位置：<a th:href="${session.homeUrl}">首页</a> > <a>系统管理 </a>  > <a  th:href="@{/api/v1/question/query}">题目录入</a>  > <a class="active">题目详情</a></h2>				
	</div>
	<table id="examTable" width="100%" cellpadding="0" cellspacing="0" class="text-table mt10">
	</table>
</div>
	
</div>
<div th:insert="/common/common_index :: index_foot"></div>
</body>
</html>

